.card {
  :global(.ant-card-head-title) {
    border-bottom: none !important;
    font-weight: 700;
    font-size: 18px;
  }
}

.cloud {
  position: relative;
  width: 100%;
  height: 360px; // переопределяется инлайном из props
  overflow: hidden; // держим в пределах области
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.word {
  position: absolute;
  left: 0;
  top: 0;
  will-change: transform;
  line-height: 1.1;
  white-space: nowrap;
  user-select: none;
  cursor: default;
  font-weight: 600;
  /* дополнительный микро-зазор между буквами повышает читаемость */
  letter-spacing: 0.2px;
}
